workflows/smarthub - Document Summarization.json
{
  "name": "smarthub - Document Summarization",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "document-summary",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -16
      ],
      "id": "8b7af204-f58b-429f-91ad-01d42a7b1f75",
      "name": "Webhook",
      "webhookId": "beafc691-c3d9-4c44-95e5-d9c1df4f3abc"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Summary generated and email sent\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        512,
        -16
      ],
      "id": "23109d02-b64b-485f-b49b-2b2cbe36f69c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.2\",\n  \"prompt\":\"You are a document intelligence assistant.\\n\\nAnalyze the following document and provide:\\n\\nTLDR:\\n<one sentence>\\n\\nKEY_INSIGHTS:\\n- insight 1\\n- insight 2\\n- insight 3\\n\\nACTION_ITEMS:\\n- action 1\\n- action 2\\n- action 3\\n\\nDocument:\\n\\n{{$json.body.document_text}}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        -16
      ],
      "id": "1e256cfe-d309-41fa-8d0b-ead3e9bc25b3",
      "name": "Ollama Summarizer"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    email: $('Webhook').first().json.body.email,\n    summary: $json.response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -16
      ],
      "id": "9d74508f-8012-4f82-a430-717ddf497d91",
      "name": "Formalt Summary"
    },
    {
      "parameters": {
        "fromEmail": "noreply@hub.cixio.dev",
        "toEmail": "={{ $json.email }}",
        "subject": "SmartHub Document Intelligence Report",
        "emailFormat": "text",
        "text": "=SmartHub Document Intelligence Report\n\n{{$json.summary}}\n\nGenerated by SmartHub AI.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        320,
        -16
      ],
      "id": "7cd594bd-9e97-4ce0-b2cc-1c71dd7d7140",
      "name": "Send an Email",
      "webhookId": "f57c0771-c0ba-41b2-9c01-4bba3bd9542e",
      "credentials": {
        "smtp": {
          "id": "GTO64tnuWPt8hp76",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ollama Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Summarizer": {
      "main": [
        [
          {
            "node": "Formalt Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formalt Summary": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c35970f0-b643-4c46-b364-b755841070c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb2c9f133c6d012fce0e85ded9d14767d5d91aee816245037adc465378ceb4af"
  },
  "nodeGroups": [],
  "id": "4nPt5abjByYDAYwM",
  "tags": []
}
